<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UK Visa Application Form</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
      }

      .header {
        text-align: center;
        margin-bottom: 20px;
      }

      .title {
        border: 1px solid black;
        padding: 5px;
        font-weight: 700;
        margin-bottom: 20px;
        font-size: 18px;
      }

      .section {
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      .value {
        margin-left: 20px;
        font-size: 12px;
        width: 50%;
      }

      .label {
        font-size: 12px;
        width: 40%;
      }

      .section-header {
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 20px;
      }
      .logo {
        display: block;
        width: 150px;
        height: auto;
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        .section > div {
          flex-basis: 100%;
        }
      }
    </style>
  </head>
  <body>
    <header class="header">
      <img
        src="data:image/png;base64,{{ image_data }}"
        alt="UK Visas Logo"
        class="logo"
      />
    </header>
    <div class="title">
      <p>UK Visa Sponsorship Application Form</p>
    </div>

    <div class="section-header">Route</div>
    <div class="section">
      <div class="label">Selected Route:</div>
      <div class="value">{{ form_data['selectRoute'] }}</div>
    </div>

    <div class="section-header">Personal Information</div>
    <div class="section">
      <div class="label">Family Name:</div>
      <div class="value">{{ form_data['familyName'] }}</div>
    </div>
    <div class="section">
      <div class="label">Given Name(s):</div>
      <div class="value">{{ form_data['givenNames'] }}</div>
    </div>
    <div class="section">
      <div class="label">Other Names:</div>
      <div class="value">{{ form_data['otherNames'] }}</div>
    </div>
    <div class="section">
      <div class="label">Nationality:</div>
      <div class="value">{{ form_data['nationality'] }}</div>
    </div>
    <div class="section">
      <div class="label">Place of Birth:</div>
      <div class="value">{{ form_data['placeOfBirth'] }}</div>
    </div>
    <div class="section">
      <div class="label">Country of Birth:</div>
      <div class="value">{{ form_data['countryOfBirth'] }}</div>
    </div>
    <div class="section">
      <div class="label">Date of Birth:</div>
      <div class="value">{{ form_data['dateOfBirth'] }}</div>
    </div>
    <div class="section">
      <div class="label">Sex:</div>
      <div class="value">{{ form_data['sex'] }}</div>
    </div>
    <div class="section">
      <div class="label">Country of Residence:</div>
      <div class="value">{{ form_data['countryOfResidence'] }}</div>
    </div>

    <div class="section-header">Passport or Travel Document</div>
    <div class="section">
      <div class="label">Passport Number:</div>
      <div class="value">{{ form_data['passportNumber'] }}</div>
    </div>
    <div class="section">
      <div class="label">Issue Date:</div>
      <div class="value">{{ form_data['issueDate'] }}</div>
    </div>
    <div class="section">
      <div class="label">Expiry Date:</div>
      <div class="value">{{ form_data['expiryDate'] }}</div>
    </div>
    <div class="section">
      <div class="label">Place of Issue of Passport:</div>
      <div class="value">{{ form_data['placeOfIssue'] }}</div>
    </div>

    <div class="section-header">Current Home Address</div>
    <div class="section">
      <div class="label">Address:</div>
      <div class="value">{{ form_data['address'] }}</div>
    </div>
    <div class="section">
      <div class="label">City or Town:</div>
      <div class="value">{{ form_data['cityOrTown'] }}</div>
    </div>
    <div class="section">
      <div class="label">County, Area or Province:</div>
      <div class="value">{{ form_data['countyOrArea'] }}</div>
    </div>
    <div class="section">
      <div class="label">Postcode or ZIP Code:</div>
      <div class="value">{{ form_data['postcode'] }}</div>
    </div>
    <div class="section">
      <div class="label">Country:</div>
      <div class="value">{{ form_data['country'] }}</div>
    </div>

    <div class="section-header">Identification Numbers</div>
    <div class="section">
      <div class="label">UK ID Card Number:</div>
      <div class="value">{{ form_data['ukIdCardNumber'] }}</div>
    </div>
    <div class="section">
      <div class="label">UK National Insurance Number:</div>
      <div class="value">{{ form_data['ukNationalInsuranceNumber'] }}</div>
    </div>
    <div class="section">
      <div class="label">National ID Card Number:</div>
      <div class="value">{{ form_data['nationalIdCardNumber'] }}</div>
    </div>
    <div class="section">
      <div class="label">Employee Number:</div>
      <div class="value">{{ form_data['employeeNumber'] }}</div>
    </div>

    <div class="section-header">Work Dates</div>
    <div class="section">
      <div class="label">Start Date:</div>
      <div class="value">{{ form_data['startDate'] }}</div>
    </div>
    <div class="section">
      <div class="label">End Date:</div>
      <div class="value">{{ form_data['endDate'] }}</div>
    </div>
    <div class="section">
      <div class="label">
        Does the migrant need to leave and re-enter the UK during the period of
        approval?
      </div>
      <div class="value">
        {% if form_data['leaveReenterUK'] == 'on' %} Yes {% else %} No {% endif
        %}
      </div>
    </div>
    <div class="section">
      <div class="label">Total Weekly Hours of Work:</div>
      <div class="value">{{ form_data['totalWeeklyHours'] }}</div>
    </div>

    <div class="section-header">
      Main Work Address in the UK (mandatory for assignment)
    </div>
    <div class="section">
      <div class="label">Address Line 1:</div>
      <div class="value">{{ form_data['mainWorkAddressLine1'] }}</div>
    </div>
    <div class="section">
      <div class="label">Postcode:</div>
      <div class="value">{{ form_data['mainWorkPostcode'] }}</div>
    </div>

    <div class="section-header">
      Other Regular Work Addresses in the UK (mandatory for assignment)
    </div>
    <div class="section">
      <div class="label">Postcode:</div>
      <div class="value">{{ form_data['otherWorkPostcode'] }}</div>
    </div>

    <div class="section-header">Agent (Optional)</div>

    <div class="section">
      <div class="label">Migrant sourced through agent?</div>
      <div class="value">
        {% if form_data['agentSourced'] == 'on' %} Yes {% else %} No {% endif %}
      </div>
    </div>

    <div class="section">
      <div class="label">If you used an agent, give details:</div>
      <div class="value">{{ form_data['agentDetails'] }}</div>
    </div>

    <div class="section">
      <div class="label">Agent Company Name:</div>
      <div class="value">{{ form_data['agentCompanyName'] }}</div>
    </div>

    <div class="section">
      <div class="label">Agent Contact Family Name:</div>
      <div class="value">{{ form_data['agentContactFamilyName'] }}</div>
    </div>

    <div class="section">
      <div class="label">Agent Contact Given Name:</div>
      <div class="value">{{ form_data['agentContactGivenName'] }}</div>
    </div>

    <div class="section">
      <div class="label">Address:</div>
      <div class="value">{{ form_data['agentAddress'] }}</div>
    </div>

    <div class="section">
      <div class="label">City or Town:</div>
      <div class="value">{{ form_data['agentCityOrTown'] }}</div>
    </div>

    <div class="section">
      <div class="label">County, Area, District, or Province:</div>
      <div class="value">{{ form_data['agentCountyOrArea'] }}</div>
    </div>

    <div class="section">
      <div class="label">Postcode or ZIP Code:</div>
      <div class="value">{{ form_data['agentPostcode'] }}</div>
    </div>

    <div class="section">
      <div class="label">Country:</div>
      <div class="value">{{ form_data['agentCountry'] }}</div>
    </div>

    <div class="section-header">Migrant's Employment</div>

    <div class="section">
      <div class="label">Job Title:</div>
      <div class="value">{{ form_data['jobTitle'] }}</div>
    </div>

    <div class="section">
      <div class="label">Job Type:</div>
      <div class="value">{{ form_data['jobType'] }}</div>
    </div>

    <div class="section">
      <div class="label">
        Summary of Job Description (1000 character limit):
      </div>
      <div class="value">{{ form_data['jobDescription'] }}</div>
    </div>

    <div class="section">
      <div class="label">Gross Salary (in pounds sterling):</div>
      <div class="value">{{ form_data['grossSalary'] }}</div>
    </div>

    <div class="section">
      <div class="label">Hourly Rate:</div>
      <div class="value">{{ form_data['hourlyRate'] }}</div>
    </div>

    <div class="section">
      <div class="label">Job on a Client Contract:</div>
      <div class="value">{{ form_data['clientContract'] }}</div>
    </div>

    <div class="section">
      <div class="label">
        Summary of Client Contract (1000 character limit):
      </div>
      <div class="value">{{ form_data['clientContractSummary'] }}</div>
    </div>

    <div class="section">
      <div class="label">Confirm Job is in an Eligible Occupation Code:</div>
      <div class="value">{{ form_data['eligibleOccupation'] }}</div>
    </div>

    <div class="section">
      <div class="label">
        Confirm Job is on the Current Shortage Occupation List:
      </div>
      <div class="value">{{ form_data['shortageOccupation'] }}</div>
    </div>

    <div class="section">
      <div class="label">Have you met the Resident Labour Market Test?</div>
      <div class="value">{{ form_data['labourMarketTest'] }}</div>
    </div>

    <div class="section">
      <div class="label">
        Registration Details (if required, 250 character limit):
      </div>
      <div class="value">{{ form_data['registrationDetails'] }}</div>
    </div>

    <div class="section">
      <div class="label">
        Tick to Confirm if the Applicant is a Near Entrant:
      </div>
      <div class="value">
        {% if form_data['nearEntrant'] == 'on' %} Yes {% else %} No {% endif %}
      </div>
    </div>

    <div class="section">
      <div class="label">
        Does the Worker Require an Academic Technology Approval Scheme (ATAS)
        Certificate for this Role?
      </div>
      <div class="value">{{ form_data['atasCertificate'] }}</div>
    </div>

    <div class="section-header">PAYE Details</div>

    <div class="section">
      <div class="label">PAYE Reference Supplied:</div>
      <div class="value">
        {% if form_data['payeReferenceSupplied'] == 'on' %} Yes {% else %} No {%
        endif %}
      </div>
    </div>

    <div class="section">
      <div class="label">PAYE Reference Number:</div>
      <div class="value">{{ form_data['payeReferenceNumber'] }}</div>
    </div>

    <div class="section">
      <div class="label">
        Reasons for No PAYE Reference (if applicable, 1000 character limit):
      </div>
      <div class="value">{{ form_data['reasonsForNoPAYE'] }}</div>
    </div>

    <div class="section-header">Migrant's Employment - PhD</div>

    <div class="section">
      <div class="label">
        Is the Worker Claiming Points for a PhD-level Qualification for the Job?
      </div>
      <div class="value">{{ form_data['phdPointsClaim'] }}</div>
    </div>

    <div class="section">
      <div class="label">
        Explanation of How the PhD-level Qualification is Relevant to the Job
        (if Yes, 1000 character limit):
      </div>
      <div class="value">{{ form_data['phdExplanation'] }}</div>
    </div>

    <div class="section">
      <div class="label">
        NARIC Code for Overseas PhD Qualification (Enter 'N/A' if not
        applicable):
      </div>
      <div class="value">{{ form_data['naricCode'] }}</div>
    </div>

    <div class="section">
      <div class="label">Is PhD in a STEM Subject?</div>
      <div class="value">{{ form_data['stemPhd'] }}</div>
    </div>

    <div class="section">
      <div class="label">
        Explanation of How the PhD is in a STEM Subject (if Yes, 1000 character
        limit):
      </div>
      <div class="value">{{ form_data['stemExplanation'] }}</div>
    </div>
  </body>
</html>
